body {
  background: #0d0d0d;
  color: white;
  font-family: sans-serif;
  margin: 0;
}

.hud {
  background: #111;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  border-bottom: 2px solid crimson;
}

.game-box {
  padding: 20px;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  background: crimson;
  border: none;
  border-radius: 8px;
  color: white;
}
