body {
  background:#111;
  color:#fff;
  font-family:sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box {
  background:#1e1e1e;
  padding:30px;
  border-radius:15px;
  width:90%;
  max-width:300px;
  text-align:center;
}

input, button {
  width:100%;
  padding:12px;
  margin-top:10px;
  border-radius:8px;
  border:none;
}

button {
  background:#e63946;
  color:white;
  font-weight:bold;
}
